.message-input-text {
    width: calc(100% - 135px);
    padding: 5px;
}

.message-input {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
}

.message-input-button, .message-cancel-button {
    padding: 7px;
    border: none;
    background: #333;
    color: white;
    width: 80px;
    font-size: 16px;
    cursor: pointer;
}

.message-cancel-button {
    background: brown;
    color: #fff2f2;
    margin-left: 5px;
}

.message-input-button:hover, .message-cancel-button:hover {
    opacity: 0.9;
}

.message-input input:focus {
    border: none;
    box-shadow: none;
}