.own-message-wrap {
    width: inherit;
    display: flex;
    justify-content: flex-end;
}

.own-message .message-time {
    font-size: small;
    color: #bbb;
    text-align: end;
    margin-top: 5px;
}

.own-message .message-text {
    text-align: end;
}

.own-message {
    background-color: rgb(55, 42, 59);
    margin-bottom: 5px;
    border-radius: 1em;
    color: white;
    overflow-wrap: anywhere;
    width: 200px;
    padding: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.own-message .buttons {
    display: flex;
    grid-gap: 5px;
    justify-content: flex-end;
    margin-top: 15px;
}

.message-edit, .message-delete {
    padding: 7px;
    border: none;
    background: #7d1d7b;
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
    text-transform: capitalize;
}

.message-edit:hover, .message-delete:hover {
    opacity: 0.9;
}