.header {
    display: flex;
    justify-content: space-between;
    grid-gap: 15px;
    padding: 20px 0px;
    font-size: 24px;
}

.header-users-count-wrap, .header-messages-count-wrap, .header-last-message-date-wrap {
    display: flex;
    grid-gap: 10px;
}

.header-users-count, .header-messages-count, .header-last-message-date {
    color: #690303;
}