.message-list {
    height: 75vh;
    overflow-y: auto;
}

.messages-divider {
    color: #090000;
    width: 100%;
    margin: 25px 0px;
    background: #333;
    height: 5px;
    position: relative;
    justify-content: center;
    display: flex;
}

.messages-divider-date {
    background: white;
    padding: 10px;
    position: absolute;
    bottom: -17px;
    border-radius: 2em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.message-list::-webkit-scrollbar {
    width: 5px;
}

.message-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.5em;
}

.message-list::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.message-list {
    scrollbar-width: thin;
    scrollbar-color: rgb(136, 136, 136) auto;
}